<div class="container-modal" data-modal="add-new-comment">
    <div class="modal-import-file">
        <div class="block-action-modal">
            <span>
                <i class="fa-regular fa-circle-xmark" data-modal-name="add-new-comment" onclick="displayModal(this);"></i>
            </span>
        </div>
        <div class="block-import-file">
            <h3>
                <span>Informações</span>
            </h3>
            <!-- <span></span> -->

            <div class="block-comments">
                <span id="btn_open_modal_add_new_comment" data-name-block="add-new-comment" data-btn-generic="add-new-comment" data-id-table-IR="" onclick="openModalAddComment(this, 'none')">
                    <p> Comentários </p>
                    <i class="fa-solid fa-comment-dots"></i>
                </span>
            </div>

            <form action="" id="form-add-new-comment">
                
                <article class="block-cod-valid active">

                    <div class="info-parcial-IR">
                        <article>
                            <span>
                                <div>
                                    <p>CPF:</p>
                                    <p id="info_cpf_cnpj"></p>
                                </div>
                                <div>
                                    <p>Contribuinte:</p>
                                    <p id="info_contribuinte"></p>
                                </div>
                            </span>
                            <span>
                                <div>
                                    <p>Celular</p>
                                    <p id="info_celular"></p>
                                </div>
                                <div>
                                    <p>Telefone</p>
                                    <p id="info_telefone"></p>
                                </div>
                            </span>
                            <span>
                                <div>
                                    <p>Ano</p>
                                    <p id="info_ano"></p>
                                </div>
                                
                                <div>
                                    <p>Status SmartIR</p>
                                    <p id="info_status_smart_IR"></p>
                                </div>
                                
                                <div>
                                    <p>Dificuldade</p>
                                    <p id="info_dificuldade"></p>
                                </div>
                                
                            </span>
                            <span>
                                <div>
                                    <p>Valor Ano Anterior:</p>
                                    <div class="block-info-values">
                                        <span>R$</span>
                                        <p id="info_valor_ano_anterior"></p>
                                    </div>
                                </div>
                                <div>
                                    <p>Valor Ano Atual:</p>
                                    <div class="block-info-values">
                                        <span>R$</span>
                                        <p id="info_valor_ano_atual"></p>
                                    </div>
                                </div>
                            </span>
                            <span>
                                <div>
                                    <p>Situação Ano Anterior</p>
                                    <p id="info_situacao_ano_anterior"></p>
                                </div>

                            </span>

                            <div class="block-input-file block-row-info-generic" style="width: 100%;">
                                <div>
                                    <p> I.R Pago? </p>
                                    <p id="info_status_pagamento_IR" title="fechar" ></p>
                                </div>

                                
                                <div data-more-info="forma_pagamento" class="active">
                                    <p> Forma de Pagamento </p>
                                    <p id="info_forma_pagamento"></p>
                                </div>
                                
                                <div data-more-info="dt_pagamento" class="active">
                                    <p>Data Pagamento</p>
                                    <p id="info_dt_pagamento"></p>
                                </div>
                            </div>

                        </article>
                        
                    </div>
                </article>
              
            </form>
        </div>
    </div>
</div>




<script>

    async function checkValueInputs(){

        let status_btn_post_form = true;
        let btn_post_form = document.getElementById("btn-post-form-add-new-comment");

        await document.querySelectorAll(`[data-check-input-add-new-comment]`).forEach((e)=>{
            console.log(e)
            if(e.value == "") {
                status_btn_post_form = false;
            }
        });

        console.log(`
            ---------------------------------------------
            status_btn_post_form: ${status_btn_post_form}
        `)

        if(status_btn_post_form){
            btn_post_form.classList.add("active");
            btn_post_form.disabled = false;
        } else {
            btn_post_form.classList.remove("active");
            btn_post_form.disabled = true;
        }
    }

    async function openModal_InfoIR(element){

        // ativa modal
        document.querySelector(`[data-modal="add-new-comment"]`).classList.add("active");

        let id_table_IR = element.getAttribute("data-row-comment");
        // document.getElementById("input_modal_comment").setAttribute("data-id-table-IR", id_table_IR);

        let contribuinte = document.getElementById(`row-contribuinte-${id_table_IR}`).value;
        let cpf_cnpj = document.getElementById(`row-cpf_cnpj-${id_table_IR}`).value;
        let celular = document.getElementById(`row-celular-${id_table_IR}`).value;
        let telefone = document.getElementById(`row-telefone-${id_table_IR}`).value;
        let ano = document.getElementById(`row-ano-${id_table_IR}`).value;
        let status_smart_IR = document.getElementById(`row-status_smart_IR-${id_table_IR}`).value;
        let dificuldade = document.getElementById(`row-dificuldade-${id_table_IR}`).value;
        let valor_ano_anterior = document.getElementById(`row-valor_ano_anterior-${id_table_IR}`).value;
        let valor_ano_atual = document.getElementById(`row-valor_ano_atual-${id_table_IR}`).value;
        let situacao_ano_anterior = document.getElementById(`row-situacao_ano_anterior-${id_table_IR}`).value;
        let status_pagamento_IR = document.getElementById(`row-status_pagamento_IR-${id_table_IR}`).value;
        let info_forma_pagamento = document.getElementById(`row-info_forma_pagamento-${id_table_IR}`).value;
        let info_dt_pagamento = document.getElementById(`row-dt_pagamento_IR-${id_table_IR}`).value;

        // document.getElementById("id-delete-dt-pagamento").setAttribute("data-id-delete-dt-pagamento", id_table_IR);


        document.getElementById("info_contribuinte").innerText = contribuinte;
        document.getElementById("info_cpf_cnpj").innerText = cpf_cnpj;
        document.getElementById("info_celular").innerText = celular;
        document.getElementById("info_telefone").innerText = telefone;
        document.getElementById("info_ano").innerText = ano;
        document.getElementById("info_status_smart_IR").innerText = status_smart_IR;
        document.getElementById("info_dificuldade").innerText = dificuldade;
        document.getElementById("info_valor_ano_anterior").innerText = valor_ano_anterior;
        document.getElementById("info_valor_ano_atual").innerText = valor_ano_atual;
        document.getElementById("info_situacao_ano_anterior").innerText = situacao_ano_anterior;
        document.getElementById("info_dt_pagamento").setAttribute("data-id-delete-dt-pagamento", id_table_IR);
        document.getElementById("info_forma_pagamento").setAttribute("data-id-delete-dt-pagamento", id_table_IR);
        // ----
        document.getElementById("btn_open_modal_add_new_comment").setAttribute("data-id-table-IR", id_table_IR);
        document.getElementById("text_new_comment_IR").setAttribute("data-id-table-IR", id_table_IR);

        document.getElementById("info_status_pagamento_IR").textContent = status_pagamento_IR;
        document.getElementById("info_forma_pagamento").textContent = info_forma_pagamento;

        if(info_dt_pagamento != ""){
            let dt_formatada = new Date(info_dt_pagamento);
            document.getElementById("info_dt_pagamento").textContent = dt_formatada.toLocaleDateString('pt-BR');;
        } else {
            document.getElementById("info_dt_pagamento").textContent = "";
        }
    }

</script>