{% load static %}
<article class="container-modal-generic" data-modal-name="edit-register" style="align-items: center; justify-content: center;">
    <div class="block-login" data-container-controller-users="register" style="width: 90vh; max-width: 90%;">

        <div class="block-actions-modals">
            <span title="voltar" onclick="closeModalEditRegister();">
                <i class="fa-solid fa-arrow-left-long"></i>
                <p>voltar</p>
            </span>
            <span title="excluir este usuário" id="btn-delete-user" data-user-id-delete="" onclick="deleteUser(this);" style="
                border: 1px solid;
                padding: 4px 8px;
                border-radius: 4px;
                color: #fb4949;
                ">
                <p>excluir</p>
                <i class="fa-solid fa-trash-can"></i>
            </span>
        </div>

        <div class="block-title-form" >
            <div class="block-login-logo">
                <img src="{% static 'logo gaulke contabil azul claro.png' %}" alt="">
            </div>
            <h3>Editar cadastro</h3>
        </div>
        <div class="block-form">
    
                <form action="{% url 'accounts_edit_user' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <input type="hidden" name="user_id_edit" id="user_id_edit">
                    </div>
                    <div style="width: 90%; display: flex; flex-direction: row; gap: 10px;">
                        <div class="inputs-form" style="width: 40%;">
                            <label for="first_name" class="active">Primeiro nome</label>
                            <input type="text" name="edit_first_name" id="edit_first_name" oninput="checkUserEdit(this);" value="{{first_name}}" autocomplete="email" data-input-form-new-user="first_name">
                        </div>
                        <div class="inputs-form">
                            <label for="last_name" class="active">Sobrenome</label>
                            <input type="text" name="edit_last_name" id="edit_last_name" oninput="checkUserEdit(this);" value="{{last_name}}" autocomplete="" data-input-form-new-user="last_name">
                        </div>
                    </div>

                    <div class="inputs-form">
                        <label for="username" class="active">E-mail</label>
                        <input type="email" name="edit_username" id="edit_username" oninput="checkUserEdit(this);" value="{{username}}" autocomplete="email" data-input-form-new-user="username">
                    </div>
                    <span class="msg-user-edit-already-exists">
                        <p>Este usuário já foi cadastrado</p>
                    </span>
    
                    <!-- -------------------------------------- -->
                    <div style="width: 90%; display: flex; flex-direction: row; gap: 10px; justify-content: flex-start; align-items: center;">
                        <div class="inputs-form">
                            <label for="password" class="active">Senha</label>
                            <span>
                                <input type="password" name="edit_password" id="edit_password" oninput="checkUserEdit(this);" value="{{password}}" autocomplete="" data-input-form-new-user="password">
                            </span>
                        </div>
                        <div class="inputs-form">
                            <label for="password_2" class="active">Confirme a senha</label>
                            <span>
                                <input type="password" name="edit_password_2" id="edit_password_2" oninput="checkUserEdit(this);" value="{{password_2}}" autocomplete="" data-input-form-new-user="password_2">
                            </span>
                        </div>
                    </div>
    
                    <!-- -------------------------------------- -->
                    <div class="block-horizontal-selection">
    
                        <div class="inputs-form" style="margin: 0;">
                            <label for="first_name" class="active" style="margin: 0; position: relative;">Setor do usuário</label>
                            <select name="edit_sector" id="edit_sector" data-input-form-new-user="sector" onchange="checkUserEdit(this);">
                                <option value="-"> - selecione um setor - </option>
                                <option value="Administrativo">Administrativo</option>
                                <option value="Diretoria">Diretoria</option>
                                <option value="Contábil">Contábil</option>
                                <option value="Fiscal">Fiscal</option>
                                <option value="RH">RH</option>
                                <option value="Societário">Societário</option>
                                <option value="TI">TI</option>
                            </select>
                        </div>
    
                        <div class="inputs-form">
                            <div class="block-acesso-usuario">
                                <span>Acessos</span>
                                <div class="block-opcoes-acesso-usuario">
                                    <input type="checkbox" name="edit_sessao_atividades" id="edit_sessao_atividades" onchange="checkUserEdit(this);">
                                    <label for="sessao_atividades" id="label_sessao_atividades">Atividades</label>
                                </div>
                                <div class="block-opcoes-acesso-usuario">
                                    <input type="checkbox" name="edit_sessao_relatorios" id="edit_sessao_relatorios" onchange="checkUserEdit(this);">
                                    <label for="sessao_relatorios" id="label_sessao_relatorios">Relatórios</label>
                                </div>
                                <div class="block-opcoes-acesso-usuario">
                                    <input type="checkbox" name="edit_sessao_imposto_de_renda" id="edit_sessao_imposto_de_renda" onchange="checkUserEdit(this);">
                                    <label for="sessao_imposto_de_renda" id="label_sessao_imposto_de_renda">Imposto de renda</label>
                                </div>
                                <div class="block-opcoes-acesso-usuario">
                                    <input type="checkbox" name="edit_sessao_config_users" id="edit_sessao_config_users" onchange="checkUserEdit(this);">
                                    <label for="sessao_config_users" id="label_sessao_config_users">Config. Usuários</label>
                                </div>
                                <div class="block-opcoes-acesso-usuario">
                                    <span class="block-edit-msg-select-session" style="margin: 0; padding: 0;">
                                        <p>Selecione uma sessão</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="inputs-form block-btn-send-form-user ">
                        <button id="btn-edit-user" disabled>salvar</button>
                    </div>
                </form>
            </div>
    </div>
</article>

<script>

    function closeModalEditRegister(element){
        document.querySelector(`[data-modal-name="edit-register"]`).classList.remove("active");
    }

    async function check_inputs_edit_user(){
        
        let username = document.getElementById("edit_username");
        let first_name = document.getElementById("edit_first_name");
        let password = document.getElementById("edit_password");
        let password_2 = document.getElementById("edit_password_2");
        // -----
        let sector = document.getElementById("edit_sector");
        // -----
        let sessao_atividades = document.getElementById("edit_sessao_atividades");
        let sessao_relatorios = document.getElementById("edit_sessao_relatorios");
        let sessao_imposto_de_renda = document.getElementById("edit_sessao_imposto_de_renda");
        let sessao_config_users = document.getElementById("edit_sessao_config_users");

        let url = "{% url 'check_user' %}";
        let headers = {"X-CSRFToken": "{{csrf_token}}"};
        let body = {"username": username.value};
        var status_inputs = true;
                
        // ---------------------------------------------------------------------------
        if(first_name.value.length >= 5){
            first_name.style.border = "1.5px solid green";
        } else {
            status_inputs = false;
            if(first_name.value == ""){
                first_name.style.border = "1.5px solid black";
            } else {
                first_name.style.border = "1.5px solid red";
            }
        }

        // ---------------------------------------------------------------------------
        if(password.value == password_2.value && password.value.length >= 8){
            password.style.border = "1.5px solid green";
            password_2.style.border = "1.5px solid green";
        } else {
            status_inputs = false;
            if(password.value && password_2.value == ""){
                password.style.border = "1.5px solid red";
                password_2.style.border = "1.5px solid red";
            } else {
                password.style.border = "1.5px solid black";
                password_2.style.border = "1.5px solid black";
            }
        }
        // ---------------------------------------------------------------------------
        if(sector.value == "-"){
            status_inputs = false;
            sector.style.border = "1.5px solid red";
        } else {
            sector.style.border = "1.5px solid black";
        }
        // ---------------------------------------------------------------------------
        if(sessao_atividades.checked || sessao_relatorios.checked || sessao_imposto_de_renda.checked  || sessao_config_users.checked){
            document.querySelector(".block-edit-msg-select-session").classList.remove("active");
        } else {
            status_inputs = false;
            document.querySelector(".block-edit-msg-select-session").classList.add("active");
        }



        // -------------------- valida e-mail regex e se existe algum usuário já cadastrado --------------------
        fetch(url, {
            method: "POST",
            headers: headers,
            body: JSON.stringify(body)
        })
        .then((data)=>{
            return data.json();
        })
        .then((data)=>{
            console.log(data)
            let valid_username = true;
            let currernt_value = username.getAttribute("currernt_value");


            document.querySelector(".msg-user-edit-already-exists").classList.remove("active");
            
            if(data["code"] == 200 && data["validEmail"]) {
                document.getElementById("edit_username").style.border = "1.5px solid green";
                document.getElementById("btn-edit-user").disabled = false;
                document.getElementById("btn-edit-user").classList.add("active");
            }
            else if(data["code"] == 203) {
                if(username.value == currernt_value){
                    console.log(`>>>> currernt_value BLACK: ${currernt_value}`)
                    document.getElementById("edit_username").style.border = "1.5px solid black";
                } else {
                    console.log(`>>>> currernt_value RED: ${currernt_value}`)
                    document.getElementById("edit_username").style.border = "1.5px solid red";
                    document.querySelector(".msg-user-edit-already-exists").classList.add("active");
                    valid_username = false;
                }
            }
            else {
                document.getElementById("edit_username").style.border = "1.5px solid red";
                valid_username = false;
            }
            return valid_username;

        })
        .then((valid_username)=>{

            if(status_inputs && valid_username){
                document.getElementById("btn-edit-user").disabled = false;
                document.getElementById("btn-edit-user").classList.add("active");
            } else {
                document.getElementById("btn-edit-user").disabled = true;
                document.getElementById("btn-edit-user").classList.remove("active");
            }
        });

    }
    
    async function checkUserEdit(element){
        document.getElementById("btn-edit-user").disabled = true;
        document.getElementById("btn-edit-user").classList.remove("active");
        check_inputs_edit_user();
    }

    async function deleteUser(element){
        let user_id = element.getAttribute("data-user-id-delete");
        let url = "{% url 'accounts_edit_user' %}";
        let headers = {"X-CSRFToken": "{{csrf_token}}"};
        let body = {"user_id": user_id};
        console.log(" -------------- url -------------- ")
        console.log(url)
        console.log(" -------------- headers -------------- ")
        console.log(headers)
        console.log(" -------------- body -------------- ")
        console.log(body)
        fetch(url, {
            method: "DELETE",
            headers: headers,
            body: JSON.stringify(body)
        })
        .then((data)=>{
            return data.json();
        })
        .then((data)=>{
            console.log(data)
            if(data["code"] == 200){
                document.querySelector(`[data-row-user="${user_id}"]`).remove();
                document.querySelector(`[data-modal-name="edit-register"]`).classList.remove("active");
            }
        })
    }
    
</script>
