{% extends 'base.html' %}
{% load static %}
{% block title %}Importações{% endblock %}
{% block content %}

<div data-name-page="imports_JB"></div>
<main class="container-fluid container-main" style="padding: 0 10px;">

    {% include 'snippets/modal_imports/modal_import_preview.html' %}
    {% include 'snippets/modal_imports/modal_company_session.html' %}
    {% include 'snippets/modal_imports/modal_import_file_to_JB.html' %}
    {% include 'snippets/modal_imports/modal_confirm_download_file_txt_import_JB.html' %}
    
    <div class="container-options-imports-file active" data-block="imports">

        <div class="title-container">
            <h4>#01 Gerais/Utilitários</h4>
        </div>
        <ul>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#1.1 Folha de Pagamento</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-pdf"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#1.1 Folha de Pagamento"
                            data-element-input="
                            .pdf,file,file_1,Relação da Folha por Empregado;
                            "
                            data-element-input-text="
                            grupo_lancamento,Grupo de Lançamento,ex: mm/aaaa;
                            "
                            onclick="selectImportFileImportJBContabil(this, false, true)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#1.2 Relação GNRE</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-excel"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#1.2 Relação GNRE"
                            data-element-input="
                            .xls,file,file_1,Arquivo GNRE;
                            "
                            data-input-select="
                            modelo_1:Modelo 1;
                            modelo_2:Modelo 2;
                            "
                            onclick="selectImportFileImportJBContabil(this, true)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#1.3 Entrada Tít. Desc. Sicoob</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-pdf"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#1.3 Entrada Tít. Desc. Sicoob"
                            data-element-input="
                            .pdf,file,file_1,Entrada Títulos Desc. Sicoob;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#1.4 Liquidação Tít. Desc. Sicoob</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-pdf"></i>
                        <i class="fa-regular fa-file-excel"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#1.4 Liquidação Tít. Desc. Sicoob"
                            data-element-input="
                            .pdf,file,file_1,Liquidação Tít. Desc. Sicoob;
                            .xlsx,file,file_2, Base S@T (.xlsx);
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            
        </ul>

        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        
        <div class="title-container">
            <h4>#02 Contas a Pagar</h4>
        </div>
        <ul>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#2.1 Cobranças Pagas (WBTelecom)</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-excel"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#2.1 Cobranças Pagas (WBTelecom)"
                            data-element-input="
                            .xlsx,file,file_1, Cobranças Pagas;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#2.2 Relação Decorise</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-excel"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#2.2 Relação Decorise"
                            data-element-input="
                            .xlsx,file,file_1,Relação Decorise;
                            "
                            data-element-input-text="
                            grupo_lancamento,Grupo de Lançamento,ex: mm/aaaa;
                            "
                            onclick="selectImportFileImportJBContabil(this, false, true)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#2.3 Arão dos Santos</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-excel"></i>
                        <i class="fa-regular fa-file-excel"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#2.3 Arão dos Santos"
                            data-element-input="
                            .xlsx,file,file_1,Base Cliente;
                            .xlsx,file,file_2,Base Contábil;
                            "
                            data-input-select="
                            modelo_fiscal:Modelo - Fiscal;
                            "
                            onclick="selectImportFileImportJBContabil(this, true, false)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#2.4 Grupo DAB</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-excel"></i>
                        <i class="fa-regular fa-file-excel"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#2.4 Grupo DAB"
                            data-element-input="
                            .xls,file,file_1,Base Fornecedores;
                            .xlsx,file,file_2,Base Pagamentos;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#2.5 Ponto Certo</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-excel"></i>
                        <i class="fa-regular fa-file-excel"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#2.5 Ponto Certo"
                            data-element-input="
                            .xlsx,file,file_1,Relatório Contas a Pagar;
                            .xlsx,file,file_2,Relatório Fornecedores;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#2.6 Grupo Garra</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-excel"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#2.6 Grupo Garra"
                            data-element-input="
                            .xlsx,file,file_1,Relatório Contas a Pagar;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#2.7 TELL</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-excel"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#2.7 TELL"
                            data-element-input="
                            .xls,file,file_1,Relatório de Pagamentos TELL;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            
        </ul>

        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        
        <div class="title-container">
            <h4>#03 Contas a Receber</h4>
        </div>
        <ul>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#3.1 Inova</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-excel"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#3.1 Inova"
                            data-element-input="
                            .xlsx,file,file_1,Relatório Contas a Receber Inova;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#3.2 TELL</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-excel"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#3.2 TELL"
                            data-element-input="
                            .xls,file,file_1,Relatório de Recebimentos TELL;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
        </ul>

        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        
        <div class="title-container">
            <h4>#04 Comprovantes de Pagamentos</h4>
        </div>
        <ul>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#4.1 Banco do Brasil</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-pdf"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#4.1 Banco do Brasil"
                            data-element-input="
                            .pdf,file,file_1,Comprovante de Pagamentos B. do Brasil;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#4.2 Bradesco</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-pdf"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#4.2 Bradesco"
                            data-element-input="
                            .pdf,file,file_1,Comprovante de Pagamentos Bradesco;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#4.3 Sicredi</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-pdf"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#4.3 Sicredi"
                            data-element-input="
                            .pdf,file,file_1,Comprovante de Pagamentos Sicredi;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#4.4 Sicoob</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-pdf"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#4.4 Sicoob"
                            data-element-input="
                            .pdf,file,file_1,Comprovante de Pagamentos Sicoob;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#4.5 Itaú</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-pdf"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#4.5 Itaú"
                            data-element-input="
                            .pdf,file,file_1,Comprovante de Pagamentos Itaú;
                            "
                            data-input-select="
                            modelo_1:PDF;
                            modelo_2:XLS;
                            "
                            onclick="selectImportFileImportJBContabil(this, true, false, true)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#4.6 Civia</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-pdf"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#4.6 Civia"
                            data-element-input="
                            .pdf,file,file_1,Comprovante de Pagamentos Civia;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#4.7 Abbraccio</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-pdf"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#4.7 Abbraccio"
                            data-element-input="
                            .pdf,file,file_1,Comprovante de Recebimentos Abbraccio,multiple;
                            "
                            onclick="selectImportFileImportJBContabil(this)"
                        >importar</button>
                    </span>
                </div>
            </li>
            
            
        </ul>
        

        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        
        <div class="title-container">
            <h4>#05 Impotações Fiscal</h4>
        </div>
        <ul>

            <li>
                <div class="block-card-info-import">
                    <span class="title-import">#5.1 Calculo de Estoque - H020</span>
                    <span class="info-content-import">Info content import #01</span>
                    <span class="icons-import-file">
                        <i class="fa-regular fa-file-lines"></i>
                    </span>
                </div>
                <div>
                    <span>
                        <button
                            data-import-name="#5.1 Calculo de Estoque - H020"
                            data-element-input="
                            .txt,file,file_1,Calculo de Estoque H020;
                            "
                            data-element-input-text="
                            percentage,Percentual de ajuste,ex: 10;
                            "
                            onclick="selectImportFileImportJBContabilFiscal(this, false, true)"
                        >importar</button>
                    </span>
                </div>
            </li>
            
        </ul>
        
    </div>
</main>

<script>

    async function selectImportFileImportJBContabil(element, input_select=false, input_text=false, extra_accept_xls=false){
        
        let btn_post_file_JB = document.getElementById("btn-post-file-import-JB");
        btn_post_file_JB.setAttribute("data-status-btn", "disabled");
        btn_post_file_JB.classList.remove("active");

        let company_session_info, session_company_name, session_company_code;
        let importName, elementInput, elementInput_Select, elementInput_Text,
            element_new_input, element_new_input_select,
            accept, type, name, label, placeholder,
            option, value_option;
        
        let elementsinputForm = [];
        company_session_info = await get_info_session_company();
        if (company_session_info == null) {
            document.getElementById("company_session_name").style.border = "1px solid red";
            document.querySelector(".message-select-a-company").classList.add("active");
            return;
        }
        document.querySelector(".message-select-a-company").classList.remove("active");
        document.getElementById("company_session_name").style.border = "1px solid var(--color-principal-cinza)";
        session_company_name = await company_session_info["company_session"]["session_company_name"];
        session_company_code = await company_session_info["company_session"]["session_company_code_JB"];
        console.log(" --------------------- company_session_info --------------------- ")
        console.log(company_session_info)
        document.getElementById("session_company_name").querySelector("b").textContent = session_company_name;
        document.getElementById("session_company_code").querySelector("b").textContent = session_company_code;

        formInputs = document.querySelector(".block-inputs-form-import-file-to-JB");

        importName = element.getAttribute("data-import-name");
        elementInput = element.getAttribute("data-element-input").split(";");
        
        for (let i = 0; i < elementInput.length; i++){

            element_new_input = elementInput[i].trim().split(",");
            accept      = element_new_input[0];
            type        = element_new_input[1];
            name        = element_new_input[2];
            label       = element_new_input[3];

            multiple = "";
            if( element_new_input[4] == "multiple" ){
                multiple = "multiple";
            }

            if(extra_accept_xls){
                accept = `${accept}, .xls`;
            }
            if(label != undefined && label != null){
                elementsinputForm.push(`
                    <div class="content-inputs-form">
                        <label for="${name}">${label}</label>
                        <input type="${type}" name="${name}", id="${name}" accept="${accept}" data-content-import-JB ${multiple} onchange="checkInputsPostFileImportJB(this)">
                    </div>
                `);}
        }
        
        if (input_select != false){
            elementInput_Select = element.getAttribute("data-input-select").split(";");

            console.log(" ---------------- elementInput_Select ---------------- ")
            console.log(elementInput_Select)
            
            let arr_options = [];
            for (let i = 0; i < elementInput_Select.length; i++){
    
                element_new_input = elementInput_Select[i].trim().split(":");
                option          = element_new_input[0];
                value_option    = element_new_input[1];
                if(option != undefined && value_option != null)
                arr_options.push(`
                    <option value="${option}">${value_option}</option>
                `);
                
            }
            elementsinputForm.push(`
            <div class="content-inputs-form" style="flex-direction: row;">
                <label for="modelo">Modelo</label>
                <select name="modelo" id="modelo" data-content-import-JB onchange="checkInputsPostFileImportJB(this)">
                   ${arr_options.join("")}
                </select>
            </div>
            `);
            
        }
        
        if (input_text != false){
            elementInput_Text = element.getAttribute("data-element-input-text").split(";");
            
            let arr_options = [];
            for (let i = 0; i < elementInput_Text.length; i++){
    
                element_new_input = elementInput_Text[i].trim().split(",");
                console.log(element_new_input)

                name        = element_new_input[0];
                label       = element_new_input[1];
                placeholder = element_new_input[2];
                
                if(name != undefined && label != null && label != "" && name != "") {
                    elementsinputForm.push(`
                        <div class="content-inputs-form-text">
                            <label for="${name}">${label}</label>
                            <input type="text" name="${name}", id="${name}" placeholder="${placeholder}" data-content-import-JB  oninput="checkInputsPostFileImportJB(this)">
                        </div>
                    `.replace(",", ""));
                }
            }
        }

        formInputs.innerHTML = elementsinputForm.join("");
        document.querySelector(`[data-tile-form="import-file-JB"]`).textContent = importName;
        document.querySelector(`[data-modal="import-files-to-JB"]`).classList.add("active");
    }
    
    async function selectImportFileImportJBContabilFiscal(element, input_select=false, input_text=false, extra_accept_xls=false){
        
        let btn_post_file_JB = document.getElementById("btn-post-file-import-JB");
        btn_post_file_JB.setAttribute("data-status-btn", "disabled");
        btn_post_file_JB.classList.remove("active");

        let company_session_info, session_company_name, session_company_code;
        let importName, elementInput, elementInput_Select, elementInput_Text,
            element_new_input, element_new_input_select,
            accept, type, name, label, placeholder,
            option, value_option;
        
        let elementsinputForm = [];
        company_session_info = await get_info_session_company();
        // if (company_session_info == null) {
        //     document.getElementById("company_session_name").style.border = "1px solid red";
        //     document.querySelector(".message-select-a-company").classList.add("active");
        //     return;
        // }
        document.querySelector(".message-select-a-company").classList.remove("active");
        document.getElementById("company_session_name").style.border = "1px solid var(--color-principal-cinza)";
        document.getElementById("session_company_name").querySelector("b").textContent = "";
        document.getElementById("session_company_code").querySelector("b").textContent = "";

        formInputs = document.querySelector(".block-inputs-form-import-file-to-JB");

        importName = element.getAttribute("data-import-name");
        elementInput = element.getAttribute("data-element-input").split(";");
        
        for (let i = 0; i < elementInput.length; i++){

            element_new_input = elementInput[i].trim().split(",");
            accept      = element_new_input[0];
            type        = element_new_input[1];
            name        = element_new_input[2];
            label       = element_new_input[3];

            multiple = "";
            if( element_new_input[4] == "multiple" ){
                multiple = "multiple";
            }

            if(extra_accept_xls){
                accept = `${accept}, .xls`;
            }
            if(label != undefined && label != null){
                elementsinputForm.push(`
                    <div class="content-inputs-form">
                        <label for="${name}">${label}</label>
                        <input type="${type}" name="${name}", id="${name}" accept="${accept}" data-content-import-JB ${multiple} onchange="checkInputsPostFileImportJB(this)">
                    </div>
                `);}
        }
        
        if (input_select != false){
            elementInput_Select = element.getAttribute("data-input-select").split(";");

            console.log(" ---------------- elementInput_Select ---------------- ")
            console.log(elementInput_Select)
            
            let arr_options = [];
            for (let i = 0; i < elementInput_Select.length; i++){
    
                element_new_input = elementInput_Select[i].trim().split(":");
                option          = element_new_input[0];
                value_option    = element_new_input[1];
                if(option != undefined && value_option != null)
                arr_options.push(`
                    <option value="${option}">${value_option}</option>
                `);
                
            }
            elementsinputForm.push(`
            <div class="content-inputs-form" style="flex-direction: row;">
                <label for="modelo">Modelo</label>
                <select name="modelo" id="modelo" data-content-import-JB onchange="checkInputsPostFileImportJB(this)">
                   ${arr_options.join("")}
                </select>
            </div>
            `);
            
        }
        
        if (input_text != false){
            elementInput_Text = element.getAttribute("data-element-input-text").split(";");
            
            let arr_options = [];
            for (let i = 0; i < elementInput_Text.length; i++){
    
                element_new_input = elementInput_Text[i].trim().split(",");
                console.log(element_new_input)

                name        = element_new_input[0];
                label       = element_new_input[1];
                placeholder = element_new_input[2];
                
                if(name != undefined && label != null && label != "" && name != "") {
                    elementsinputForm.push(`
                        <div class="content-inputs-form-text">
                            <label for="${name}">${label}</label>
                            <input type="text" name="${name}", id="${name}" placeholder="${placeholder}" data-content-import-JB  oninput="checkInputsPostFileImportJB(this)">
                        </div>
                    `.replace(",", ""));
                }
            }
        }

        formInputs.innerHTML = elementsinputForm.join("");
        document.querySelector(`[data-tile-form="import-file-JB"]`).textContent = importName;
        document.querySelector(`[data-modal="import-files-to-JB"]`).classList.add("active");
    }
    
    function closeModalImportFileToJB(){
        document.querySelector(`[data-modal="import-files-to-JB"]`).classList.remove("active");
    }

</script>

{% endblock %}
