/* .block-table-info table thead tr th:nth-child(1) {
    position: sticky;
    left: -12px;
    background: white;
} */

.block-table-info table thead tr th:nth-child(1),
.block-table-info table tbody tr td:nth-child(1),
.block-table-info table thead tr th:nth-child(2),
.block-table-info table tbody tr td:nth-child(2),
.block-table-info table thead tr th:nth-child(3),
.block-table-info table tbody tr td:nth-child(3) {
    position: sticky;
    background: white;
}

.block-table-info table thead tr th:nth-child(1),
.block-table-info table tbody tr td:nth-child(1) {
    left: -12px;
    /* z-index: 1; */
}
.block-table-info table thead tr th:nth-child(2),
.block-table-info table tbody tr td:nth-child(2) {
    left: 49px;
    /* z-index: 1; */
}
.block-table-info table thead tr th:nth-child(3),
.block-table-info table tbody tr td:nth-child(3) {
    left: 114px;
    /* z-index: 1; */
}


.block-btns-table-IR {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 4px 12px;
}
.block-btns-table-IR button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: white;
    background: #1f6e42;
    transition: .4s all;
}
.block-btns-table-IR button:hover {
    background: #165933;
}