/* .block-table-info table thead tr th:nth-child(1) {
    position: sticky;
    left: -12px;
    background: white;
} */

.block-table-info table thead tr th:nth-child(1),
.block-table-info table tbody tr td:nth-child(1),
.block-table-info table thead tr th:nth-child(2),
.block-table-info table tbody tr td:nth-child(2),
.block-table-info table thead tr th:nth-child(3),
.block-table-info table tbody tr td:nth-child(3) {
    position: sticky;
    background: white;
}

.block-table-info table thead tr th:nth-child(1),
.block-table-info table tbody tr td:nth-child(1) {
    left: -12px;
}
.block-table-info table thead tr th:nth-child(2),
.block-table-info table tbody tr td:nth-child(2) {
    left: 49px;
}
.block-table-info table thead tr th:nth-child(3),
.block-table-info table tbody tr td:nth-child(3) {
    left: 149px;
}