<div class="container-modal" data-modal="pendencies-deliveries-IR" style="align-items: center; justify-content: center;">
    <div class="container-pendencies-IR">
        <div class="block-action-modal" style="padding: 5px;">
            <span>
                <i class="fa-regular fa-circle-xmark" data-modal-name="pendencies-deliveries-IR" onclick="closeModal_PendenciesIR(this)" style="font-size: 18px;"></i>
            </span>
        </div>
        <div class="block-pendencies-IR">
            <div>
                <h3>Pendências - Imposto de Renda</h3>
            </div>
            <div class="block-table-pendencies-IR">
                <table class="table table-striped" id="table-pendencies-IR">
                    <thead>
                        <tr>
                            <td style="min-width: 108px;" >Cód Sistema</td>
                            <td style="min-width: 150px;" >Contribuinte</td>
                            <td style="min-width: 150px;" >CPF</td>
                            <td style="min-width: 90px;"  >Ano</td>
                            <td style="min-width: 105px;" >Valor Ano Anterior</td>
                            <td style="min-width: 105px;" >Valor Ano Atual (Anterior + 10%)</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="block-btn-actions-pendecies">
                <button data-info-affected-records="pencedies-IR" onclick="post_update_values_IR();" disabled>
                    <span>nenhuma alteração</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>

    var object_edit_deliveries = {
        "cod_sistema": {},
        "valor_ano_atual": {},
        "valor_ano_anterior": {},
    };

    function displayModal_PendenciesIR(){

        let arr_rows_pendencies = [];
        let modal_name = "pendencies-deliveries-IR";
        // window.localStorage.setItem("modal_edit_pendencies_IR", 1);

        document.querySelector(`[data-modal="${modal_name}"]`).classList.toggle("active");

        for(let i in data_pend_IR){
            
            let cod_sistema = data_pend_IR[i]["id_table_CLIENT"];
            let IR_code = data_pend_IR[i]["id_table_IR"];
            let value_cod_sistema = data_pend_IR[i]["cod_sistema"];
            let value_valor_ano_atual = data_pend_IR[i]["valor_ano_atual"];


            arr_rows_pendencies.push(`
                <tr data-client-id="${cod_sistema}" data-delivery-id="${IR_code}">
                    <td>
                        <input type="text" value="${value_cod_sistema}" data-field-name="cod_sistema" data-client-code="${cod_sistema}" oninput="update_object_edit_info(this);">
                    </td>
                    <td>${data_pend_IR[i]["contribuinte"]}</td>
                    <td>${data_pend_IR[i]["cpf_cnpj"]}</td>
                    <td>${data_pend_IR[i]["ano"]}</td>
                    <td>${data_pend_IR[i]["valor_ano_anterior"]}</td>
                    <td>
                        <input type="text" value="${value_valor_ano_atual}" data-field-name="valor_ano_atual" data-client-code="${IR_code}" oninput="update_object_edit_info(this);">
                    </td>
                </tr>
            `);
        }

        document.querySelector("#table-pendencies-IR tbody").innerHTML = arr_rows_pendencies.join("");
    }

    function closeModal_PendenciesIR(element){
        let modal_name = element.getAttribute("data-modal-name");
        document.querySelector(`[data-modal="${modal_name}"]`).classList.remove("active");
        // window.localStorage.setItem("modal_edit_pendencies_IR", 0);
    }
    
    function update_object_edit_info(element){

        let btn_save = document.querySelector(`[data-info-affected-records="pencedies-IR"]`);
        btn_save.classList.remove("success");
        btn_save.classList.remove("invalid");
        btn_save.classList.add("active");
        btn_save.disabled = false;
        
        let tt_values = 0;
        let data_cod_sistema = element.getAttribute("data-client-code");
        let field_name = element.getAttribute("data-field-name");
        element.value = element.value.trim();


        object_edit_deliveries[field_name][data_cod_sistema] = element.value;

        for (let i in object_edit_deliveries){
            tt_values += Object.keys(object_edit_deliveries[i]).length;
        }

        if(tt_values>0){
            document.querySelector(`[data-info-affected-records="pencedies-IR"]`).innerHTML = `
                <span>salvar e fechar</span>
                <span>[<b>${tt_values}</b>]</span>
            `;
        } else {
            document.querySelector(`[data-info-affected-records="pencedies-IR"]`).innerHTML = `
                <span>nenhuma alteração</span>
            `;
        }
    }

    async function post_update_values_IR(){

        let btn_save = document.querySelector(`[data-info-affected-records="pencedies-IR"]`);
        fetch(`{% url "deliveries_IR" %}`, {
            method: "POST",
            headers: {"X-CSRFToken": "{{csrf_token}}"},
            body: JSON.stringify(object_edit_deliveries)
        })
        .then((data)=>{
            return data.json();
        })
        .then((data)=>{
            console.log(data)

            btn_save.classList.remove("success");
            btn_save.classList.remove("invalid");

            if(data["code"] == 200){
                setTimeout(()=>{
                    window.location.href = "{% url 'deliveries_IR' %}";
                }, 2100);
                btn_save.innerHTML = `
                    <span>alterações salvas</span>
                `;
                btn_save.classList.add("success");
            } else {
                btn_save.innerHTML = `
                    <span>erro ao salvar</span>
                `;
                btn_save.classList.add("invalid");
            }
        });
    }

</script>